.container {
  padding: 5px;
  font-family: Tahoma, Geneva, sans-serif;
  text-align: center;
  width: 75%;
  background: #d9d9d9;
  
}

h1 {
  margin: 0.5em auto;
  width: 40%;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 58px;

  color: #000000;

  border: 1px solid #000000;
  border-radius: 5px;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

form {
  margin: 0.5em auto;
  width: 30%;
  font-size: 25px;
  line-height: 44px;
  /* identical to box height */
  background: #f5f5f5;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

button {
  font-size: 24px;


color: rgba(0, 0, 0, 0.77);

border: 1px solid #000000;
  padding: 5px;
  background: #F5F5F5;
box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}